/**
    Font!
**/
@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto/roboto.eot');
    src: url('fonts/roboto/roboto.eot?#iefix') format('embedded-opentype'),
         url('fonts/roboto/roboto.woff') format('woff'),
         url('fonts/roboto/roboto.ttf') format('truetype'),
         url('fonts/roboto/roboto.svg#roboto') format('svg');
    font-weight: normal;
    font-style: normal;
}

#about-theamus {
    width: 800px;
}


/**
    Logo & Version Banner
**/
.st_banner-wrapper:before,
.st_banner-wrapper:after {
    content: "";
    display: table;
}
.st_banner-wrapper:after {
    clear: both;
}
.st_banner-wrapper {
    margin: 70px auto 120px;
    position: relative;
    width: 500px;
}
.st_banner-wrapper .st_banner-logo {
    border-right: 5px solid #eee;
    box-shadow: inset -10px 0px 10px -10px #aaa;
    float: left;
    padding-right: 50px;
}
.st_banner-wrapper .st_banner-logo img {
    width: 125px;
}
.st_banner-wrapper .st_banner-version {
    color: #ccc;
    font-family: "Roboto", sans-serif;
    font-size: 3em;
    left: 225px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
}

/**
    Contributors
**/
.st_contributors-wrapper {
    margin-top: 150px;
    min-width: 500px;
}
.st_contributors-header {
    font-family: "Roboto", sans-serif;
    text-align: center;
}
.st_contributors-wrapper ul {
    list-style: none;
    margin: 25px 0 0 0;
}
.st_contributors-wrapper ul li {
    border: 1px solid #eee;
    float: left;
    margin: 0 0 50px 50px;
    padding: 10px;
    width: 240px;
}
.st_contributors-wrapper ul li:not(:first-child):not(:nth-child(7)) {
    margin: 0 0 50px 50px;
}
.st_contributors-wrapper ul:before,
.st_contributors-wrapper ul:after,
.st_contributors-wrapper ul li .st_contributor:before,
.st_contributors-wrapper ul li .st_contributor:after {
    content: "";
    display: table;
}
.st_contributors-wrapper ul:after,
.st_contributors-wrapper ul li .st_contributor:after {
    clear: both;
}
.st_contributors-wrapper ul li .st_contributor {
    overflow:hidden;
    position: relative;
    white-space: nowrap;
}
.st_contributors-wrapper .st_contributor .st_contributor-image {
    display: inline-block;
}
.st_contributors-wrapper .st_contributor .st_contributor-image img {
    max-width: 50px;
}
.st_contributors-wrapper ul li .st_contributor .st_contributor-name {
    display: inline-block;
    left: 60px;
    overflow: hidden;
    position: absolute;
    right: 0;
    text-overflow: ellipsis;
    top: 50%;
    -webkit-transform: translateY(-50%);
    white-space: nowrap;
}

@media (max-width: 1200px) {
    .st_contributors-wrapper ul {
        padding: 0;
    }
    .st_contributors-wrapper ul li {
        width: 125px;
    }
    .st_contributors-wrapper ul li:not(:first-child):not(:nth-child(4)) {
        margin: 0 0 25px 50px;
    }
}

.st_new-row:before,
.st_new-row:after {
    content: "";
    display: table;
}
.st_new-row:after {
    clear: both;
}
.st_new-row:not(:last-of-type) {
    border-bottom: 1px solid #eee;
    margin-bottom: 50px;
    padding-bottom: 25px;
}
.st_new-row {
    margin: 0 auto;
    width: 90%;
}
.st_new-row img {
    width: 40%;
}
.st_new-row .st_new-text {
    width: 55%;
}
.st_new-row .st_new-text h2 {
    color: #888;
    font-family: "Roboto", sans-serif;
    font-size: 1.8em;
    margin-top: 10px;
}
.st_new-row .st_new-text p {
    font: 14px/20px sans-serif;
}
.left-image img {
    float: left;
}
.left-image .st_new-text {
    float: right;
}
.right-image img {
    float: right;
}
.right-image .st_new-text {
    float: left;
}

/**
    External Libraries
**/
.st_ext-libs-wrapper {
    margin: 50px 0 0 0;
    min-width: 500px;
}
.st_ext-libs-header {
    font-family: "Roboto", sans-serif;
    text-align: center;
}
.st_ext-libs-wrapper ul {
    list-style: none;
    margin: 25px auto 0;
    padding: 0;
    text-align: center;
    width: 350px;
}
.st_ext-libs-wrapper ul li {
    display: inline-block;
    margin: 0 0 15px 0;
    padding: 0 15px;
}