#media-list {
    width: 550px;
}
.media_listing-wrapper {
    margin-top: 15px;
}
.media_listing-wrapper .media_listing-row:not(:last-child) {
    border-bottom: 1px solid #eee;
}
.media_listing-wrapper .media_listing-row {
    border-left: 2px solid transparent;
    padding: 10px 5px;
    position: relative;
    height: 75px;
    transition: background-color .2s ease-in-out;
}
.media_listing-wrapper .media_listing-row:hover {
    background-color: #eee;
    border-left: 2px solid #aaa;
}
.media_listing-wrapper .media_listing-row .media_listing-img {
    display: inline-block;
    height: 80%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    width: 100px;
}
.media_listing-wrapper .media_listing-row .media_listing-img img {
    left: 50%;
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
.media_listing-wrapper .media_listing-row .media_listing-name {
    cursor: default;
    display: inline-block;
    left: 125px;
    max-width: 325px;
    overflow: hidden;
    position: absolute;
    text-overflow: ellipsis;
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    white-space: nowrap;
}
.media_listing-wrapper .media_listing-row .media_listing-options {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.media_listing-pages-wrapper {
    border-top: 1px solid #eee;
    padding: 10px;
}
.media_listing-pages-wrapper a {
    background-color: #666;
    color: #fff;
    display: inline-block;
    font-size: .7em;
    padding: 5px 12px;
    margin: 0 2px;
    text-decoration: none;
    transition: background-color .3s ease-in-out;
}
.media_listing-pages-wrapper a:hover {
    background-color: #888;
}
.media_listing-pages-wrapper a.media_listing-current-page {
    background-color: #444;
}
.media_listing-pages-wrapper a.media_listing-current-page:hover {
    background-color: #666;
}

@media (max-width: 768px) {
    #media-list { width: 100%; }
    .media_listing-wrapper .media_listing-row .media_listing-name { display: none; }
}


/* Add Window */
.add-media {
    margin-top: 15px;
    width: 600px;
}
.media_dnd-area {
    border: 3px dashed #AAA;
    border-radius: 10px;
    color: #888;
    font-family: Raleway, sans-serif;
    font-size: 20px;
    padding: 20px 0;
    text-align: center;
}
.media_dnd-alt {
    padding: 10px 0 0 20px;
}
.media_add-list {
    display: none;
}
.dnd_area-hover {
    background-color: #EEE;
    border: 3px solid #888;
    box-shadow: inset 0 0 10px #555;
    color: #444;
    opacity: 0.5;
}
.media_add-fileitem {
    border: 1px solid #EEE;
    border-radius: 2px;
    padding: 10px;
    position: relative;
}
.media_add-fileitem:not(:last-child) {
    margin-bottom: 10px;
}
.media_remove-fileitem {
    color: #F44 !important;
    font-size: 8pt;
    padding: 0 20px 0 10px;
}
.media_remove-fileitem:hover {
    color: #A44 !important;
    font-weight: bold;
    text-decoration: none !important;
}
#tempfile_input {
    visibility: hidden;
    position: absolute;
}
.media_add-filename {
    color: #666;
    text-transform: lowercase;
}
.media_add-filesize {
    color: #CCC;
    font-style: italic;
    margin-left: 20px;
    text-transform: lowercase;
}
.media_result {
    float: right;
    margin-right: 40px;
}
.media_upload-prog {
    background-color: #EEF;
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 0;
}
.media_upload-perc {
    color: #666;
    padding: 10px;
    float: right;
}
.media_add-fileinfo {
    position: relative;
}

.media_error-title {
    background-color: #777;
    border-radius: 50%;
    color: #CCC;
    cursor: default;
    font-weight: bold;
    margin-left: 10px;
    padding: 3px 8px;
}

div[id*="media_info-"] {
    width: 400px;
}
.media_info-img {
    margin-bottom: 20px;
    text-align: center;
}
.media_info-img img {
    max-height: 200px;
    max-width: 80%;
    min-width: 25%;
    min-height: 75px;
}
div[id*="media_info-"] .form-control {
    box-sizing: border-box;
}