.admin-pagination {
    border-top: 1px solid #eee;
}

.accounts-list {
    margin: 10px 0;
    width: 600px;
}
.accounts-list > ul.accounts,
.accounts-list > ul.accounts li ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.accounts-list > ul.accounts li {
    display: block;
    padding: 10px;
    transition: background-color .3s ease-in-out;
    -webkit-transition: background-color .3s ease-in-out;
    -moz-transition: background-color .3s ease-in-out;
    -ms-transition: background-color .3s ease-in-out;
}
.accounts-list > ul.accounts li:hover {
    background-color: #ddd;
}
.accounts-list > ul.accounts > li:nth-child(even) {
    background-color: #eee;
}
.accounts-list > ul.accounts li .full-name {
    display: inline-block;
    margin: 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 200px;
}
.accounts-list > ul.accounts li .username {
    display: inline-block;
    margin: 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 150px;
}
.accounts-list > ul.accounts li ul {
    float: right;
    margin-top: -9px;
}
.accounts-list > ul.accounts li ul li {
    display: inline-block;
}
.accounts-list > ul.accounts li ul li a {
    color: #222;
}

.search-form,
.new-account-form,
.edit-account-form,
.remove-account-form {
    margin: 10px;
    width: 500px;
}

#create-account-result,
#edit-account-result,
#remove-account-result {
    margin: 15px 0 20px;
}