.sandbox_half {
    padding: 15px;
    float: left;
    width: 50%;
}

.data-wrapper:before,
.data-wrapper:after {
    content: "";
    display: table;
}
.data-wrapper:after {
    clear: both;
}

.data-wrapper:not(:last-child) {
    border-bottom: 1px solid #ccc;
}

.data-wrapper section[type="card_column"] {
    padding: 5px;
}

.data-wrapper a {
    color: #F44336;
    display: block;
    padding: 20px;
    text-align: right;
}

#function {
    font-family: monospace;
}

pre.prettyprint {
    border: 0;
}