section[type="card"] {
    background-color: #fff;
    box-shadow: 0 0 2px #666;
    padding-bottom: 10px;
    position: relative;
}
section[type="card"]:before,
section[type="card"]:after
section[type="card"] section[type="card_expansion"]:before,
section[type="card"] section[type="card_expansion"]:after
section[type="card"] div.card_input-wrapper:before,
section[type="card"] div.card_input-wrapper:after,
section[type="card"] div.card_button-wrapper:before,
section[type="card"] div.card_button-wrapper:after,
section[type="card_column"]:before,
section[type="card_column"]:after,
section[type="card"] hr.card_section-split:before,
section[type="card"] hr.card_section-split:after,
section[type="card_collapsible-expansion"]:before,
section[type="card_collapsible-expansion"]:after,
section[type="card"] div.card_text-wrapper:before,
section[type="card"] div.card_text-wrapper:after,
section[type="card"] div.card_text-expansion-wrapper:before,
section[type="card"] div.card_text-expansion-wrapper:after {
    content: "";
    display: table;
}
section[type="card"]:after,
section[type="card_expansion"]:after,
section[type="card"] div.card_input-wrapper:after,
section[type="card"] div.card_button-wrapper:after,
section[type="card_column"]:after,
section[type="card"] hr.card_section-split:after,
section[type="card_collapsible-expansion"]:after,
section[type="card"] div.card_text-wrapper:after,
section[type="card"] div.card_text-expansion-wrapper:after {
    clear: both;
}
section[type="card"]:not(:first-of-type) {
    margin-top: 15px;
}
section[type="card"].expansion-only {
    padding: 0;
}
section[type="card"].no-header {
    padding: 10px 0;
}
section[type="card"].no-header-expansion {
    padding-right: 50px;
}
section[type="card"].card_collapsible-list {
    padding-bottom: 0 !important;
}
section[type="card"].card_collapsible-list section[type="card_collapsible"] {
    border-top: 1px solid #ccc;
    transition: border-top .2s ease-in;
}
section[type="card"].card_collapsible-list section[type="card_collapsible"]:first-of-type {
    border-top: none;
}
section[type="card"] section[type="card_collapsible"] {
    background-color: #fff;
    display: block;
    transition: box-shadow .1s ease-in, width .1s ease-in, margin-left .1s ease-in;
}
section[type="card"] section[type="card_collapsible"].collapsible-expanded {
    border-top: none;
    box-shadow: 0 0 3px #666;
    margin-bottom: 10px;
    margin-left: -.5%;
    padding-bottom: 10px;
    width: 101%;
}
section[type="card"] section[type="card_collapsible"] header[type="card_collapsible-header"] {
    cursor: pointer;
    font-size: 17px;
    padding: 10px;
    position: relative;
    z-index: 2;
}
section[type="card"] section[type="card_collapsible"] header[type="card_collapsible-header"].selectable {
    cursor: default;
    transition: background-color .2s;
    -moz-transition: background-color .2s;
    -ms-transition: background-color .2s;
    -webkit-transition: background-color .2s;
}
section[type="card"] section[type="card_collapsible"] header[type="card_collapsible-header"].selectable:hover {
    background-color: #eee;
}

section[type="card"] section[type="card_collapsible"] header[type="card_collapsible-header"].selected {
    background-color: #ddd;
}
section[type="card"] section[type="card_collapsible"].collapsible-expanded header[type="card_collapsible-header"] {
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}
section[type="card"] section[type="card_collapsible"] div.collapsible-chevron {
    float: left;
    margin: 11px;
    transition: transform .1s ease-in;
}
section[type="card"] section[type="card_collapsible"] div.selectable-collapsible-chevron {
    cursor: pointer;
    position: relative;
    z-index: 10;
}
section[type="card"] section[type="card_collapsible"] div.collapsible-chevron-flipped {
    transform: rotate(180deg);
}
section[type="card"] section[type="card_collapsible"] div.collapsible-chevron span.glyphicon {
    color: #888;
}
section[type="card"] section[type="card_collapsible"] input.card_collapsible-selectable {
    visibility: hidden;
}
section[type="card"] section[type="card_collapsible"] section[type="card_collapsible-expansion"] {
    margin: 0;
    max-height: 0;
    overflow: hidden;
    padding: 0;
    transition: visibility 0s ease 1s;
    visibility: hidden;
}
section[type="card"] section[type="card_collapsible"] section[type="card_collapsible-expansion"].collapsible-expanded {
    max-height: 10000px;
    transition: max-height 1s ease-in 0s, visibility 0s ease 0s;
    visibility: visible;
}
section[type="card_column"] {
    box-shadow: none;
    float: left;
    padding: 15px;
}
section[type="card_column"].no-padding {
    padding: 0;
}
section[type="card_column"].half {
    width: 49.999999998%;
}
section[type="card_column"].third {
    width: 33.333333333%;
}
section[type="card_column"].two-thirds {
    width: 66.666666666%
}
section[type="card_column"].quarter {
    width: 24.999999998%;
}
section[type="card_column"].three-quarters {
    width: 74.999999998%;
}
section[type="card_column"].full {
    display: block;
    width: 100%;
}
section[type="card"] header[type="card_header"] {
    color: rgba(0,0,0,0.87);
    font-size: 20px;
    margin-bottom: 10px;
    padding: 10px;
}
section[type="card"].expansion-only header[type="card_header"] {
    margin-bottom: 0;
}
section[type="card"] header[type="card_header"].red,
section[type="card"] header[type="card_header"].pink,
section[type="card"] header[type="card_header"].purple,
section[type="card"] header[type="card_header"].deep-purple,
section[type="card"] header[type="card_header"].indigo,
section[type="card"] header[type="card_header"].blue,
section[type="card"] header[type="card_header"].teal,
section[type="card"] header[type="card_header"].deep-orange,
section[type="card"] header[type="card_header"].brown,
section[type="card"] header[type="card_header"].blue-grey,
section[type="card"] header[type="card_header"].black {
    color: #fff;
}
section[type="card"] header[type="card_header"].red { background-color: #F44336; }
section[type="card"] header[type="card_header"].pink { background-color: #E91E63; }
section[type="card"] header[type="card_header"].purple { background-color: #9C27B0; }
section[type="card"] header[type="card_header"].deep-purple { background-color: #673AB7; }
section[type="card"] header[type="card_header"].indigo { background-color: #3F51B5; }
section[type="card"] header[type="card_header"].blue { background-color: #2196F3; }
section[type="card"] header[type="card_header"].light-blue { background-color: #03A9F4; }
section[type="card"] header[type="card_header"].cyan { background-color: #00BCD4; }
section[type="card"] header[type="card_header"].teal { background-color: #009688; }
section[type="card"] header[type="card_header"].green { background-color: #4CAF50; }
section[type="card"] header[type="card_header"].light-green { background-color: #8BC34A; }
section[type="card"] header[type="card_header"].lime { background-color: #CDDC39; }
section[type="card"] header[type="card_header"].yellow { background-color: #FFEB3B; }
section[type="card"] header[type="card_header"].amber { background-color: #FFC107; }
section[type="card"] header[type="card_header"].orange { background-color: #FF9800; }
section[type="card"] header[type="card_header"].deep-orange { background-color: #FF5722; }
section[type="card"] header[type="card_header"].brown { background-color: #795548; }
section[type="card"] header[type="card_header"].grey { background-color: #9E9E9E; }
section[type="card"] header[type="card_header"].blue-grey { background-color: #607D8B; }
section[type="card"] header[type="card_header"].black { background-color: #000; }
section[type="card"] header[type="card_header"].white { background-color: #fff; }
section[type="card"] header[type="card_header"] div.card_expander,
section[type="card"].no-header-expansion div.card_expander {
    cursor: default;
    float: right;
    font-size: initial;
    margin: 3px 5px 0 0;
    transition: transform .2s ease-in-out;
    -moz-transition: transform .2s ease-in-out;
    -ms-transition: transform .2s ease-in-out;
    -webkit-transition: transform .2s ease-in-out;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}
section[type="card"].no-header-expansion div.card_expander {
    right: 23px;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
section[type="card"] header[type="card_header"] div.chevron-flip,
section[type="card"].no-header-expansion div.chevron-flip {
    margin-top: -1px;
    transform: rotate(180deg);
}
section[type="card"] section[type="card_expansion"] {
    max-height: 0;
    padding: 0;
    overflow: hidden;
    visibility: hidden;
}
section[type="card"] section[type="card_expansion"].card_expanded {
    border-top: 2px solid #aaa;
    display: block;
    margin-top: 10px;
    max-height: 10000px;
    overflow: visible;
    padding-top: 10px;
    transition: max-height 1s ease-in 0s, padding .2s ease-in 0s;
    -moz-transition: max-height 1s ease-in 0s, padding .2s ease-in 0s;
    -ms-transition: max-height 1s ease-in 0s, padding .2s ease-in 0s;
    -webkit-transition: max-height 1s ease-in 0s, padding .1s ease-in 0s;
    visibility: visible;
}
section[type="card"] section[type="card_expansion"].card_expanded:only-of-type {
    border: 0;
    margin-top: -10px;
    padding-bottom: 10px;
}
section[type="card"] div.card_input-wrapper {
    display: table;
    padding: 5px 10px;
    left: 0;
    position: relative;
    transition: width .1s ease-in, left .1s ease-in, margin .1s ease-in;
    -moz-transition: width .1s ease-in, left .1s ease-in, margin .1s ease-in;
    -ms-transition: width .1s ease-in, left .1s ease-in, margin .1s ease-in;
    -webkit-transition: width .1s ease-in, left .1s ease-in, margin .1s ease-in;
    width: 100%;
}
section[type="card"] div.feedback span.glyphicon {
    cursor: default;
    padding: 5px 8px;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}
section[type="card"] div.feedback span.glyphicon:hover span {
    opacity: 1;
    overflow: visible;
    padding: 7px 15px;
    transition: opacity .1s ease-in;
    width: auto;
}
section[type="card"] div.feedback span.glyphicon span {
    background-color: #333;
    border: 1px solid #000;
    color: #fff;
    cursor: default;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    right: 125%;
    top: 50%;
    transform: translateY(-50%);
    transition: opacity 0s ease-in;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    white-space: nowrap;
    width: 0px;
}
section[type="card"] div.feedback span.glyphicon span:after {
    border: 8px solid transparent;
    border-left: 8px solid #333;
    content: "";
    position: absolute;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
}
section[type="card"] div.feedback-warn span.glyphicon {
    color: #FFEB3B;
}
section[type="card"] div.feedback-success span.glyphicon {
    color: #4CAF50;
}
section[type="card"] div.feedback-info span.glyphicon {
    color: #3F51B5;
}
section[type="card"] div.feedback-danger span.glyphicon {
    color: #F44336;
}
section[type="card"] div.card_input-wrapper label {
    color: #ccc;
    cursor: default;
    font-weight: normal;
    left: 20px;
    margin: 0;
    position: absolute;
    top: 17px;
    transition: top .1s ease-in, left .1s ease-in, font-size .1s ease-in, color .1s ease-in;
    -ms-transition: top .1s ease-in, left .1s ease-in;
    -moz-transition: top .1s ease-in, left .1s ease-in;
    -webkit-transition: top .1s ease-in, left .1s ease-in, font-size .1s ease-in, color .1s ease-in;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    z-index: 2;
}
section[type="card"] div.card_input-wrapper label.inline-left,
section[type="card"] div.card_input-wrapper label.inline-right,
section[type="card"] div.card_input-wrapper label.inline-up {
    color: #222;
    display: inline-block !important;
    font-size: inherit;
    left: 0;
    margin-top: -2px;
    position: relative;
    top: 0;
    transform: none;
    white-space: nowrap;
}
section[type="card"] div.card_input-wrapper label.inline-left {
    margin-right: 10px;
}
section[type="card"] div.card_input-wrapper label.inline-right {
    margin-left: 10px;
    width: 1%;
}
section[type="card"] div.card_input-wrapper label.inline-up {
    display: block !important;
}
section[type="card"] div.card_input-wrapper label.textarea-label {
    color: #ccc;
    font-weight: normal;
    margin: 0;
    position: absolute;
    z-index: 2;
}
section[type="card"] div.card_input-wrapper label.out-left,
section[type="card"] div.card_input-wrapper label.out-up,
section[type="card"] div.card_input-wrapper label.label-normal {
    display: block;
    color: #444;
    font-weight: bold;
}
section[type="card"] div.card_input-wrapper:not(:first-child).out-up {
    margin-top: 30px;
}
section[type="card"] div.card_input-wrapper label.out-up {
    left: 10px !important;
    top: -15px;
}
section[type="card"] div.card_input-wrapper label.input_label-left,
section[type="card"] div.card_input-wrapper label.input_label-up {
    color: #444;
    font-weight: bold;
    left: inherit !important;
    position: inherit;
    top: inherit;
    vertical-align: middle;
    white-space: nowrap;
}
section[type="card"] div.card_input-wrapper label.input_label-left {
    display: table-cell;
    padding-right: 10px;
    width: 1%;
}
section[type="card"] div.card_input-wrapper label.input_label-up {
    display: block;
    margin-bottom: 5px;
}
section[type="card"] div.card_input-wrapper p.input-help {
    color: #888;
    margin: 5px 2px;
}
section[type="card"] div.card_input-wrapper input[type="checkbox"],
section[type="card"] div.card_input-wrapper input[type="radio"] {
    float: left;
}
section[type="card"] div.card_input-wrapper input[type="text"],
section[type="card"] div.card_input-wrapper input[type="password"],
section[type="card"] div.card_input-wrapper input[type="search"],
section[type="card"] div.card_input-wrapper input[type="email"],
section[type="card"] div.card_input-wrapper input[type="url"],
section[type="card"] div.card_input-wrapper input[type="tel"],
section[type="card"] div.card_input-wrapper input[type="number"],
section[type="card"] div.card_input-wrapper input[type="date"],
section[type="card"] div.card_input-wrapper textarea,
section[type="card"] div.card_input-wrapper select {
    border: 1px solid #ccc;
    display: table-cell;
    padding: 10px;
    left: 0;
    position: relative;
    outline: none;
    right: 0;
    width: 100%;
}
section[type="card"] div.card_input-wrapper input[type="text"]:hover,
section[type="card"] div.card_input-wrapper input[type="password"]:hover,
section[type="card"] div.card_input-wrapper input[type="search"]:hover,
section[type="card"] div.card_input-wrapper input[type="email"]:hover,
section[type="card"] div.card_input-wrapper input[type="url"]:hover,
section[type="card"] div.card_input-wrapper input[type="tel"]:hover,
section[type="card"] div.card_input-wrapper input[type="number"]:hover,
section[type="card"] div.card_input-wrapper input[type="date"]:hover,
section[type="card"] div.card_input-wrapper textarea:hover,
section[type="card"] div.card_input-wrapper select:hover {
    border: 1px solid #aaa;
}
section[type="card"] div.card_input-wrapper input[type="text"]:active,
section[type="card"] div.card_input-wrapper input[type="text"]:focus,
section[type="card"] div.card_input-wrapper input[type="password"]:active,
section[type="card"] div.card_input-wrapper input[type="password"]:focus,
section[type="card"] div.card_input-wrapper input[type="search"]:active,
section[type="card"] div.card_input-wrapper input[type="search"]:focus,
section[type="card"] div.card_input-wrapper input[type="email"]:active,
section[type="card"] div.card_input-wrapper input[type="email"]:focus,
section[type="card"] div.card_input-wrapper input[type="url"]:active,
section[type="card"] div.card_input-wrapper input[type="url"]:focus,
section[type="card"] div.card_input-wrapper input[type="tel"]:active,
section[type="card"] div.card_input-wrapper input[type="tel"]:focus,
section[type="card"] div.card_input-wrapper input[type="number"]:active,
section[type="card"] div.card_input-wrapper input[type="number"]:focus,
section[type="card"] div.card_input-wrapper input[type="date"]:active,
section[type="card"] div.card_input-wrapper input[type="date"]:focus,
section[type="card"] div.card_input-wrapper textarea:active,
section[type="card"] div.card_input-wrapper textarea:focus,
section[type="card"] div.card_input-wrapper select:active,
section[type="card"] div.card_input-wrapper select:focus {
    box-shadow: 0px 0px 5px #888;
}
section[type="card"] div.card_input-wrapper input[type="text"].input-clean,
section[type="card"] div.card_input-wrapper input[type="password"].input-clean,
section[type="card"] div.card_input-wrapper input[type="search"].input-clean,
section[type="card"] div.card_input-wrapper input[type="email"].input-clean,
section[type="card"] div.card_input-wrapper input[type="url"].input-clean,
section[type="card"] div.card_input-wrapper input[type="tel"].input-clean,
section[type="card"] div.card_input-wrapper input[type="number"].input-clean,
section[type="card"] div.card_input-wrapper input[type="date"].input-clean {
    border: 0;
    border-bottom: 1px solid #ccc;
    font-size: 17px;
}
section[type="card"] div.card_input-wrapper input[type="text"].input-clean:active,
section[type="card"] div.card_input-wrapper input[type="text"].input-clean:focus,
section[type="card"] div.card_input-wrapper input[type="password"].input-clean:active,
section[type="card"] div.card_input-wrapper input[type="password"].input-clean:focus,
section[type="card"] div.card_input-wrapper input[type="search"].input-clean:active,
section[type="card"] div.card_input-wrapper input[type="search"].input-clean:focus,
section[type="card"] div.card_input-wrapper input[type="email"].input-clean:active,
section[type="card"] div.card_input-wrapper input[type="email"].input-clean:focus,
section[type="card"] div.card_input-wrapper input[type="url"].input-clean:active,
section[type="card"] div.card_input-wrapper input[type="url"].input-clean:focus,
section[type="card"] div.card_input-wrapper input[type="tel"].input-clean:active,
section[type="card"] div.card_input-wrapper input[type="tel"].input-clean:focus,
section[type="card"] div.card_input-wrapper input[type="number"].input-clean:active,
section[type="card"] div.card_input-wrapper input[type="number"].input-clean:focus,
section[type="card"] div.card_input-wrapper input[type="date"].input-clean:active,
section[type="card"] div.card_input-wrapper input[type="date"].input-clean:focus {
    border-bottom: 1px solid #888;
    box-shadow: none;
}
section[type="card"] div.card_input-wrapper input[type="text"].adjust-left,
section[type="card"] div.card_input-wrapper input[type="password"].adjust-left,
section[type="card"] div.card_input-wrapper input[type="search"].adjust-left,
section[type="card"] div.card_input-wrapper input[type="email"].adjust-left,
section[type="card"] div.card_input-wrapper input[type="url"].adjust-left,
section[type="card"] div.card_input-wrapper input[type="tel"].adjust-left,
section[type="card"] div.card_input-wrapper input[type="number"].adjust-left ,
section[type="card"] div.card_input-wrapper input[type="date"].adjust-left {
    float: left;
    overflow: hidden;
}
section[type="card"] div.feedback-warn input[type="text"],
section[type="card"] div.feedback-warn input[type="password"],
section[type="card"] div.feedback-warn input[type="search"],
section[type="card"] div.feedback-warn input[type="email"],
section[type="card"] div.feedback-warn input[type="url"],
section[type="card"] div.feedback-warn input[type="tel"],
section[type="card"] div.feedback-warn input[type="number"],
section[type="card"] div.feedback-warn input[type="date"] {
    border: 1px solid #FFEB3B;
}
section[type="card"] div.feedback-warn input[type="text"]:hover,
section[type="card"] div.feedback-warn input[type="password"]:hover,
section[type="card"] div.feedback-warn input[type="text"]:active,
section[type="card"] div.feedback-warn input[type="password"]:active,
section[type="card"] div.feedback-warn input[type="text"]:focus,
section[type="card"] div.feedback-warn input[type="password"]:focus,
section[type="card"] div.feedback-warn input[type="search"]:hover,
section[type="card"] div.feedback-warn input[type="search"]:active,
section[type="card"] div.feedback-warn input[type="search"]:focus,
section[type="card"] div.feedback-warn input[type="email"]:hover,
section[type="card"] div.feedback-warn input[type="email"]:active,
section[type="card"] div.feedback-warn input[type="email"]:focus,
section[type="card"] div.feedback-warn input[type="url"]:hover,
section[type="card"] div.feedback-warn input[type="url"]:active,
section[type="card"] div.feedback-warn input[type="url"]:focus,
section[type="card"] div.feedback-warn input[type="tel"]:hover,
section[type="card"] div.feedback-warn input[type="tel"]:active,
section[type="card"] div.feedback-warn input[type="tel"]:focus,
section[type="card"] div.feedback-warn input[type="number"]:hover,
section[type="card"] div.feedback-warn input[type="number"]:active,
section[type="card"] div.feedback-warn input[type="number"]:focus,
section[type="card"] div.feedback-warn input[type="date"]:hover,
section[type="card"] div.feedback-warn input[type="date"]:active,
section[type="card"] div.feedback-warn input[type="date"]:focus {
    border: 1px solid #FFC107;
}
section[type="card"] div.feedback-warn input[type="text"].input-clean,
section[type="card"] div.feedback-warn input[type="password"].input-clean,
section[type="card"] div.feedback-warn input[type="search"].input-clean,
section[type="card"] div.feedback-warn input[type="email"].input-clean,
section[type="card"] div.feedback-warn input[type="url"].input-clean,
section[type="card"] div.feedback-warn input[type="tel"].input-clean,
section[type="card"] div.feedback-warn input[type="number"].input-clean,
section[type="card"] div.feedback-warn input[type="date"].input-clean {
    border-bottom: 1px solid #FFEB3B;
}
section[type="card"] div.feedback-warn input[type="text"].input-clean:hover,
section[type="card"] div.feedback-warn input[type="text"].input-clean:active,
section[type="card"] div.feedback-warn input[type="text"].input-clean:focus,
section[type="card"] div.feedback-warn input[type="password"].input-clean:hover,
section[type="card"] div.feedback-warn input[type="password"].input-clean:active,
section[type="card"] div.feedback-warn input[type="password"].input-clean:focus,
section[type="card"] div.feedback-warn input[type="search"].input-clean:hover,
section[type="card"] div.feedback-warn input[type="search"].input-clean:active,
section[type="card"] div.feedback-warn input[type="search"].input-clean:focus,
section[type="card"] div.feedback-warn input[type="email"].input-clean:hover,
section[type="card"] div.feedback-warn input[type="email"].input-clean:active,
section[type="card"] div.feedback-warn input[type="email"].input-clean:focus,
section[type="card"] div.feedback-warn input[type="url"].input-clean:hover,
section[type="card"] div.feedback-warn input[type="url"].input-clean:active,
section[type="card"] div.feedback-warn input[type="url"].input-clean:focus,
section[type="card"] div.feedback-warn input[type="tel"].input-clean:hover,
section[type="card"] div.feedback-warn input[type="tel"].input-clean:active,
section[type="card"] div.feedback-warn input[type="tel"].input-clean:focus,
section[type="card"] div.feedback-warn input[type="number"].input-clean:hover,
section[type="card"] div.feedback-warn input[type="number"].input-clean:active,
section[type="card"] div.feedback-warn input[type="number"].input-clean:focus,
section[type="card"] div.feedback-warn input[type="date"].input-clean:hover,
section[type="card"] div.feedback-warn input[type="date"].input-clean:active,
section[type="card"] div.feedback-warn input[type="date"].input-clean:focus {
    border: 0;
    border-bottom: 1px solid #FFC107;
}

section[type="card"] div.feedback-success input[type="text"],
section[type="card"] div.feedback-success input[type="password"],
section[type="card"] div.feedback-success input[type="search"],
section[type="card"] div.feedback-success input[type="email"],
section[type="card"] div.feedback-success input[type="url"],
section[type="card"] div.feedback-success input[type="tel"],
section[type="card"] div.feedback-success input[type="number"],
section[type="card"] div.feedback-success input[type="date"] {
    border: 1px solid #4CAF50;
}
section[type="card"] div.feedback-success input[type="text"]:hover,
section[type="card"] div.feedback-success input[type="password"]:hover,
section[type="card"] div.feedback-success input[type="text"]:active,
section[type="card"] div.feedback-success input[type="password"]:active,
section[type="card"] div.feedback-success input[type="text"]:focus,
section[type="card"] div.feedback-success input[type="password"]:focus,
section[type="card"] div.feedback-success input[type="search"]:hover,
section[type="card"] div.feedback-success input[type="search"]:active,
section[type="card"] div.feedback-success input[type="search"]:focus,
section[type="card"] div.feedback-success input[type="email"]:hover,
section[type="card"] div.feedback-success input[type="email"]:active,
section[type="card"] div.feedback-success input[type="email"]:focus,
section[type="card"] div.feedback-success input[type="url"]:hover,
section[type="card"] div.feedback-success input[type="url"]:active,
section[type="card"] div.feedback-success input[type="url"]:focus,
section[type="card"] div.feedback-success input[type="tel"]:hover,
section[type="card"] div.feedback-success input[type="tel"]:active,
section[type="card"] div.feedback-success input[type="tel"]:focus,
section[type="card"] div.feedback-success input[type="number"]:hover,
section[type="card"] div.feedback-success input[type="number"]:active,
section[type="card"] div.feedback-success input[type="number"]:focus,
section[type="card"] div.feedback-success input[type="date"]:hover,
section[type="card"] div.feedback-success input[type="date"]:active,
section[type="card"] div.feedback-success input[type="date"]:focus {
    border: 1px solid #388E3C;
}
section[type="card"] div.feedback-success input[type="text"].input-clean,
section[type="card"] div.feedback-success input[type="password"].input-clean,
section[type="card"] div.feedback-success input[type="search"].input-clean,
section[type="card"] div.feedback-success input[type="email"].input-clean,
section[type="card"] div.feedback-success input[type="url"].input-clean,
section[type="card"] div.feedback-success input[type="tel"].input-clean,
section[type="card"] div.feedback-success input[type="number"].input-clean ,
section[type="card"] div.feedback-success input[type="date"].input-clean {
    border-bottom: 1px solid #4CAF50;
}
section[type="card"] div.feedback-success input[type="text"].input-clean:hover,
section[type="card"] div.feedback-success input[type="text"].input-clean:active,
section[type="card"] div.feedback-success input[type="text"].input-clean:focus,
section[type="card"] div.feedback-success input[type="password"].input-clean:hover,
section[type="card"] div.feedback-success input[type="password"].input-clean:active,
section[type="card"] div.feedback-success input[type="password"].input-clean:focus,
section[type="card"] div.feedback-success input[type="search"].input-clean:hover,
section[type="card"] div.feedback-success input[type="search"].input-clean:active,
section[type="card"] div.feedback-success input[type="search"].input-clean:focus,
section[type="card"] div.feedback-success input[type="email"].input-clean:hover,
section[type="card"] div.feedback-success input[type="email"].input-clean:active,
section[type="card"] div.feedback-success input[type="email"].input-clean:focus,
section[type="card"] div.feedback-success input[type="url"].input-clean:hover,
section[type="card"] div.feedback-success input[type="url"].input-clean:active,
section[type="card"] div.feedback-success input[type="url"].input-clean:focus,
section[type="card"] div.feedback-success input[type="tel"].input-clean:hover,
section[type="card"] div.feedback-success input[type="tel"].input-clean:active,
section[type="card"] div.feedback-success input[type="tel"].input-clean:focus,
section[type="card"] div.feedback-success input[type="number"].input-clean:hover,
section[type="card"] div.feedback-success input[type="number"].input-clean:active,
section[type="card"] div.feedback-success input[type="number"].input-clean:focus,
section[type="card"] div.feedback-success input[type="date"].input-clean:hover,
section[type="card"] div.feedback-success input[type="date"].input-clean:active,
section[type="card"] div.feedback-success input[type="date"].input-clean:focus {
    border: 0;
    border-bottom: 1px solid #388E3C;
}

section[type="card"] div.feedback-info input[type="text"],
section[type="card"] div.feedback-info input[type="password"],
section[type="card"] div.feedback-info input[type="search"],
section[type="card"] div.feedback-info input[type="email"],
section[type="card"] div.feedback-info input[type="url"],
section[type="card"] div.feedback-info input[type="tel"],
section[type="card"] div.feedback-info input[type="number"],
section[type="card"] div.feedback-info input[type="date"] {
    border: 1px solid #3F51B5;
}
section[type="card"] div.feedback-info input[type="text"]:hover,
section[type="card"] div.feedback-info input[type="password"]:hover,
section[type="card"] div.feedback-info input[type="text"]:active,
section[type="card"] div.feedback-info input[type="password"]:active,
section[type="card"] div.feedback-info input[type="text"]:focus,
section[type="card"] div.feedback-info input[type="password"]:focus,
section[type="card"] div.feedback-info input[type="search"]:hover,
section[type="card"] div.feedback-info input[type="search"]:active,
section[type="card"] div.feedback-info input[type="search"]:focus,
section[type="card"] div.feedback-info input[type="email"]:hover,
section[type="card"] div.feedback-info input[type="email"]:active,
section[type="card"] div.feedback-info input[type="email"]:focus,
section[type="card"] div.feedback-info input[type="url"]:hover,
section[type="card"] div.feedback-info input[type="url"]:active,
section[type="card"] div.feedback-info input[type="url"]:focus,
section[type="card"] div.feedback-info input[type="tel"]:hover,
section[type="card"] div.feedback-info input[type="tel"]:active,
section[type="card"] div.feedback-info input[type="tel"]:focus,
section[type="card"] div.feedback-info input[type="number"]:hover,
section[type="card"] div.feedback-info input[type="number"]:active,
section[type="card"] div.feedback-info input[type="number"]:focus,
section[type="card"] div.feedback-info input[type="date"]:hover,
section[type="card"] div.feedback-info input[type="date"]:active,
section[type="card"] div.feedback-info input[type="date"]:focus {
    border: 1px solid #303F9F;
}
section[type="card"] div.feedback-info input[type="text"].input-clean,
section[type="card"] div.feedback-info input[type="password"].input-clean,
section[type="card"] div.feedback-info input[type="email"].input-clean,
section[type="card"] div.feedback-info input[type="url"].input-clean,
section[type="card"] div.feedback-info input[type="tel"].input-clean,
section[type="card"] div.feedback-info input[type="number"].input-clean,
section[type="card"] div.feedback-info input[type="date"].input-clean {
    border-bottom: 1px solid #3F51B5;
}
section[type="card"] div.feedback-info input[type="text"].input-clean:hover,
section[type="card"] div.feedback-info input[type="text"].input-clean:active,
section[type="card"] div.feedback-info input[type="text"].input-clean:focus,
section[type="card"] div.feedback-info input[type="password"].input-clean:hover,
section[type="card"] div.feedback-info input[type="password"].input-clean:active,
section[type="card"] div.feedback-info input[type="password"].input-clean:focus,
section[type="card"] div.feedback-info input[type="search"].input-clean:hover,
section[type="card"] div.feedback-info input[type="search"].input-clean:active,
section[type="card"] div.feedback-info input[type="search"].input-clean:focus,
section[type="card"] div.feedback-info input[type="email"].input-clean:hover,
section[type="card"] div.feedback-info input[type="email"].input-clean:active,
section[type="card"] div.feedback-info input[type="email"].input-clean:focus,
section[type="card"] div.feedback-info input[type="url"].input-clean:hover,
section[type="card"] div.feedback-info input[type="url"].input-clean:active,
section[type="card"] div.feedback-info input[type="url"].input-clean:focus,
section[type="card"] div.feedback-info input[type="tel"].input-clean:hover,
section[type="card"] div.feedback-info input[type="tel"].input-clean:active,
section[type="card"] div.feedback-info input[type="tel"].input-clean:focus,
section[type="card"] div.feedback-info input[type="number"].input-clean:hover,
section[type="card"] div.feedback-info input[type="number"].input-clean:active,
section[type="card"] div.feedback-info input[type="number"].input-clean:focus,
section[type="card"] div.feedback-info input[type="date"].input-clean:hover,
section[type="card"] div.feedback-info input[type="date"].input-clean:active,
section[type="card"] div.feedback-info input[type="date"].input-clean:focus {
    border: 0;
    border-bottom: 1px solid #303F9F;
}

section[type="card"] div.feedback-danger input[type="text"],
section[type="card"] div.feedback-danger input[type="password"],
section[type="card"] div.feedback-danger input[type="search"],
section[type="card"] div.feedback-danger input[type="email"],
section[type="card"] div.feedback-danger input[type="url"],
section[type="card"] div.feedback-danger input[type="tel"],
section[type="card"] div.feedback-danger input[type="number"],
section[type="card"] div.feedback-danger input[type="date"] {
    border: 1px solid #F44336;
}
section[type="card"] div.feedback-danger input[type="text"]:hover,
section[type="card"] div.feedback-danger input[type="password"]:hover,
section[type="card"] div.feedback-danger input[type="text"]:active,
section[type="card"] div.feedback-danger input[type="password"]:active,
section[type="card"] div.feedback-danger input[type="text"]:focus,
section[type="card"] div.feedback-danger input[type="password"]:focus,
section[type="card"] div.feedback-danger input[type="search"]:hover,
section[type="card"] div.feedback-danger input[type="search"]:active,
section[type="card"] div.feedback-danger input[type="search"]:focus,
section[type="card"] div.feedback-danger input[type="email"]:hover,
section[type="card"] div.feedback-danger input[type="email"]:active,
section[type="card"] div.feedback-danger input[type="email"]:focus,
section[type="card"] div.feedback-danger input[type="url"]:hover,
section[type="card"] div.feedback-danger input[type="url"]:active,
section[type="card"] div.feedback-danger input[type="url"]:focus,
section[type="card"] div.feedback-danger input[type="tel"]:hover,
section[type="card"] div.feedback-danger input[type="tel"]:active,
section[type="card"] div.feedback-danger input[type="tel"]:focus,
section[type="card"] div.feedback-danger input[type="number"]:hover,
section[type="card"] div.feedback-danger input[type="number"]:active,
section[type="card"] div.feedback-danger input[type="number"]:focus,
section[type="card"] div.feedback-danger input[type="date"]:hover,
section[type="card"] div.feedback-danger input[type="date"]:active,
section[type="card"] div.feedback-danger input[type="date"]:focus {
    border: 1px solid #D32F2F;
}
section[type="card"] div.feedback-danger input[type="text"].input-clean
section[type="card"] div.feedback-danger input[type="password"].input-clean,
section[type="card"] div.feedback-danger input[type="search"].input-clean,
section[type="card"] div.feedback-danger input[type="email"].input-clean,
section[type="card"] div.feedback-danger input[type="url"].input-clean,
section[type="card"] div.feedback-danger input[type="tel"].input-clean,
section[type="card"] div.feedback-danger input[type="number"].input-clean,
section[type="card"] div.feedback-danger input[type="date"].input-clean {
    border-bottom: 1px solid #F44336;
}
section[type="card"] div.feedback-danger input[type="text"].input-clean:hover,
section[type="card"] div.feedback-danger input[type="text"].input-clean:active,
section[type="card"] div.feedback-danger input[type="text"].input-clean:focus,
section[type="card"] div.feedback-danger input[type="password"].input-clean:hover,
section[type="card"] div.feedback-danger input[type="password"].input-clean:active,
section[type="card"] div.feedback-danger input[type="password"].input-clean:focus,
section[type="card"] div.feedback-danger input[type="search"].input-clean:hover,
section[type="card"] div.feedback-danger input[type="search"].input-clean:active,
section[type="card"] div.feedback-danger input[type="search"].input-clean:focus,
section[type="card"] div.feedback-danger input[type="email"].input-clean:hover,
section[type="card"] div.feedback-danger input[type="email"].input-clean:active,
section[type="card"] div.feedback-danger input[type="email"].input-clean:focus,
section[type="card"] div.feedback-danger input[type="url"].input-clean:hover,
section[type="card"] div.feedback-danger input[type="url"].input-clean:active,
section[type="card"] div.feedback-danger input[type="url"].input-clean:focus,
section[type="card"] div.feedback-danger input[type="tel"].input-clean:hover,
section[type="card"] div.feedback-danger input[type="tel"].input-clean:active,
section[type="card"] div.feedback-danger input[type="tel"].input-clean:focus,
section[type="card"] div.feedback-danger input[type="number"].input-clean:hover,
section[type="card"] div.feedback-danger input[type="number"].input-clean:active,
section[type="card"] div.feedback-danger input[type="number"].input-clean:focus,
section[type="card"] div.feedback-danger input[type="date"].input-clean:hover,
section[type="card"] div.feedback-danger input[type="date"].input-clean:active,
section[type="card"] div.feedback-danger input[type="date"].input-clean:focus {
    border: 0;
    border-bottom: 1px solid #D32F2F;
}
section[type="card"] div.card_input-wrapper input[type="range"] {
    -webkit-appearance: none;
    border: 1px solid #ccc;
    background-color: #eee;
    height: 7px;
    outline: none;
    transition: background-color .2s ease-in, border .2s ease-in;
}
section[type="card"] div.card_input-wrapper input[type="range"]:active {
    border: 1px solid #bbb;
    background-color: #ddd;
}
section[type="card"] div.card_input-wrapper input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #ccc;
    border: 1px solid #aaa;
    border-radius: 10px;
    height: 20px;
    cursor: pointer;
    transition: background-color .2s ease-in, border .2s ease-in, box-shadow .2s ease-in;
    width: 20px;

}
section[type="card"] div.card_input-wrapper input[type="range"]::-webkit-slider-thumb:active {
    -webkit-appearance: none;
    background-color: #bbb;
    border: 1px solid #999;
    box-shadow: 0 0 2px #888;
}
section[type="card"] div.card_input-wrapper span.input-attachment {
    background-color: #eee;
    border: 1px solid #ccc;
    display: table-cell;
    padding: 10px;
    vertical-align: middle;
    white-space: nowrap;
    width: 1%;
}
section[type="card"] div.card_input-wrapper span.input-attachment:first-child {
    border-right: 0;
    margin-right: -4px;
}
section[type="card"] div.card_input-wrapper span.input-attachment:last-child {
    border-left: 0;
    margin-left: -4px;
}
section[type="card"] div.input-clean span.input-attachment {
    border: 0;
    border-bottom: 1px solid #ccc;
}
section[type="card"] div.card_input-wrapper span.input-button-attachment {
    border: 1px solid #ccc;
    display: table-cell;
    padding: 0;
    vertical-align: middle;
    white-space: nowrap;
    width: 1%;
}
section[type="card"] div.card_input-wrapper span.input-button-attachment:first-child { margin-right: -4px; }
section[type="card"] div.card_input-wrapper span.input-button-attachment:last-child { margin-left: -4px; }
section[type="card"] div.card_input-wrapper span.input-button-attachment button {
    border: none;
    border-radius: 0;
    box-shadow: none;
    padding: 10px 25px;
}
section[type="card"] div.card_button-wrapper {
    padding: 10px;
    padding-bottom: 3px;
}
section[type="card"] button[type="submit"],
section[type="card"] button[type="button"] {
    background-color: #FFF;
    border: none;
    border-radius: 2px;
    color: #444;
    font-weight: bold;
    outline: none;
    padding: 8px 25px;
    text-align: center;
    text-transform: uppercase;
    transition: background-color .1s ease-in, box-shadow .1s ease-in;
}
section[type="card"] button[type="submit"]:disabled,
section[type="card"] button[type="button"]:disabled {
    background-color: #888 !important;
    color: #666 !important;
}
section[type="card"] button[type="submit"]:hover,
section[type="card"] button[type="button"]:hover {
    background-color: #eee;
}
section[type="card"] button[type="submit"]:active,
section[type="card"] button[type="button"]:active {
    background-color: #fff;
    box-shadow: none;
}
section[type="card"] button[type="submit"].primary,
section[type="card"] button[type="button"].primary {
    background-color: #ccf;
}
section[type="card"] button[type="submit"].primary:hover,
section[type="card"] button[type="button"].primary:hover {
    background-color: #ddf;
}
section[type="card"] button[type="submit"].primary:active,
section[type="card"] button[type="button"].primary:active {
    background-color: #bbe;
}
section[type="card"] button[type="submit"].success,
section[type="card"] button[type="button"].success {
    background-color: #4a4;
    color: #fff;
}
section[type="card"] button[type="submit"].success:hover,
section[type="card"] button[type="button"].success:hover {
    background-color: #5b5;
}
section[type="card"] button[type="submit"].success:active,
section[type="card"] button[type="button"].success:active {
    background-color: #393;
}
section[type="card"] button[type="submit"].info,
section[type="card"] button[type="button"].info {
    background-color: #09e;
    color: #fff;
}
section[type="card"] button[type="submit"].info:hover,
section[type="card"] button[type="button"].info:hover {
    background-color: #1af;
}
section[type="card"] button[type="submit"].info:active,
section[type="card"] button[type="button"].info:active {
    background-color: #08d;
}
section[type="card"] button[type="submit"].warn,
section[type="card"] button[type="button"].warn {
    background-color: #fd3;
}
section[type="card"] button[type="submit"].warn:hover,
section[type="card"] button[type="button"].warn:hover {
    background-color: #fe4;
}
section[type="card"] button[type="submit"].warn:active,
section[type="card"] button[type="button"].warn:active {
    background-color: #ec2;
}
section[type="card"] button[type="submit"].danger,
section[type="card"] button[type="button"].danger {
    background-color: #e33;
    color: #fff;
}
section[type="card"] button[type="submit"].danger:hover,
section[type="card"] button[type="button"].danger:hover {
    background-color: #f44;
}
section[type="card"] button[type="submit"].danger:active,
section[type="card"] button[type="button"].danger:active {
    background-color: #d22;
}
section[type="card"] button[type="submit"].flat-default,
section[type="card"] button[type="submit"].flat-primary,
section[type="card"] button[type="submit"].flat-success,
section[type="card"] button[type="submit"].flat-info,
section[type="card"] button[type="submit"].flat-warn,
section[type="card"] button[type="submit"].flat-danger,
section[type="card"] button[type="button"].flat-default,
section[type="card"] button[type="button"].flat-primary,
section[type="card"] button[type="button"].flat-success,
section[type="card"] button[type="button"].flat-info,
section[type="card"] button[type="button"].flat-warn,
section[type="card"] button[type="button"].flat-danger {
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 2px;
    box-shadow: none;
    color: #444;
    font-weight: bold;
    outline: none;
    padding: 8px 25px;
    text-align: center;
    text-transform: uppercase;
    transition: color .1s ease-in, background-color .1s ease-in, box-shadow .1s ease-in;
}
section[type="card"] button[type="submit"].flat-default,
section[type="card"] button[type="button"].flat-default {
    color: #444;
}
section[type="card"] button[type="submit"].flat-default:hover,
section[type="card"] button[type="button"].flat-default:hover {
    background-color: #ccc;
    color: #333;
}
section[type="card"] button[type="submit"].flat-default:active,
section[type="card"] button[type="button"].flat-default:active {
    background-color: #bbb;
    color: #222;
}
section[type="card"] button[type="submit"].flat-primary,
section[type="card"] button[type="button"].flat-primary {
    color: #aad;
}
section[type="card"] button[type="submit"].flat-primary:hover,
section[type="card"] button[type="button"].flat-primary:hover {
    background-color: #aad;
    color: #fff;
}
section[type="card"] button[type="submit"].flat-primary:active,
section[type="card"] button[type="button"].flat-primary:active {
    background-color: #99c;
    color: #fff;
}
section[type="card"] button[type="submit"].flat-success,
section[type="card"] button[type="button"].flat-success {
    color: #4a4;
}
section[type="card"] button[type="submit"].flat-success:hover,
section[type="card"] button[type="button"].flat-success:hover {
    background-color: #5b5;
    color: #fff;
}
section[type="card"] button[type="submit"].flat-success:active,
section[type="card"] button[type="button"].flat-success:active {
    background-color: #393;
    color: #fff;
}
section[type="card"] button[type="submit"].flat-info,
section[type="card"] button[type="button"].flat-info {
    color: #09e;
}
section[type="card"] button[type="submit"].flat-info:hover,
section[type="card"] button[type="button"].flat-info:hover {
    background-color: #1af;
    color: #fff;
}
section[type="card"] button[type="submit"].flat-info:active,
section[type="card"] button[type="button"].flat-info:active {
    background-color: #08d;
    color: #fff;
}
section[type="card"] button[type="submit"].flat-warn,
section[type="card"] button[type="button"].flat-warn {
    color: #fd3;
}
section[type="card"] button[type="submit"].flat-warn:hover,
section[type="card"] button[type="button"].flat-warn:hover {
    background-color: #fe4;
    color: #444;
}
section[type="card"] button[type="submit"].flat-warn:active,
section[type="card"] button[type="button"].flat-warn:active {
    background-color: #ec2;
    color: #444;
}
section[type="card"] button[type="submit"].flat-danger,
section[type="card"] button[type="button"].flat-danger {
    color: #e33;
}
section[type="card"] button[type="submit"].flat-danger:hover,
section[type="card"] button[type="button"].flat-danger:hover {
    background-color: #f44;
    color: #fff;
}
section[type="card"] button[type="submit"].flat-danger:active,
section[type="card"] button[type="button"].flat-danger:active {
    background-color: #d22;
    color: #fff;
}
section[type="card"] div.card_button-wrapper button[type="submit"].button-right,
section[type="card"] div.card_button-wrapper button[type="button"].button-right {
    float: right;
}
section[type="card"] hr.card_section-split {
    border: 0;
    border-bottom: 1px solid #ccc;
    width: 100%
}
section[type="card"] div.card_text-wrapper,
section[type="card"] div.card_text-expansion-wrapper {
    padding: 0 15px;
}
section[type="card"].card_text-expansion {
    max-height: 300px;
    overflow: hidden;
    position: relative;
    transition: max-height .2s ease-in;
}
section[type="card"] div.card_text-expansion-wrapper {
    margin-bottom: -10px;
}
section[type="card"].card_text-expansion-expanded {
    padding-bottom: 30px;
}
section[type="card"] div.card_text-expansion-wrapper div.card_text-expansion-hider {
    background-color: rgba(238, 238, 238, 0.5);
    bottom: 0;
    min-height: 35px;
    left: 0;
    position: absolute;
    right: 0;
    transition: min-height .2s ease-in, background-color .2s ease-in;
}
section[type="card"] div.card_text-expansion-wrapper div.card_text-expansion-hider:hover {
    background-color: #eee;
}
section[type="card"] div.card_text-expansion-wrapper div.card_text-expansion-hider span.glyphicon {
    bottom: 0;
    color: #ccc;
    display: block;
    font-size: 35px;
    left: 50%;
    position: absolute;
    text-align: center;
    top: inherit;
    transform: translateX(-50%);
    transition: color .2s ease-in, transform .2s ease-in, font-size .2s;
}
section[type="card"] div.card_text-expansion-wrapper div.card_text-expansion-hider:hover span.glyphicon {
    color: #777;
}
section[type="card"].card_text-expansion-expanded div.card_text-expansion-hider {
    min-height: 20px !important;
}
section[type="card"].card_text-expansion-expanded div.card_text-expansion-hider span.glyphicon {
    bottom: 50% !important;
    font-size: 15px !important;
    transform: rotate(180deg) translate(50%, -50%) !important;
}
section[type="card"] div.card_progress-wrapper {
    border-top: 2px solid #ccf;
    display: none;
    margin-bottom: 8px;
    margin-top: -10px;
    min-width: 55px;
    position: relative;
    transition: width .2s ease-in;
    width: 0px;
}
section[type="card"].expansion-only div.card_progress-wrapper {
    margin-top: 0;
}
section[type="card"] div.card_progress-finished {
    background-color: #eef;
    color: #444;
    font-weight: bold;
    padding: 10px;
    text-transform: uppercase;
}
section[type="card"] div.card_progress-wrapper div.card_progress-percentage {
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    right: 10px;
    top: -12px;
}
section[type="card"] div.alert {
    margin: -10px 10px 10px;
}
section[type="card"] div.flright,
section[type="card"] div.flleft {
    position: relative;
    z-index: 3;
}
section[type="card"] div.flright {
    float: right;
}
section[type="card"] div.flleft {
    float: left;
}
section[type="card"].pagination {
    display: inline-block;
    padding: 0;
}
section[type="card"].pagination ul {
    cursor: default;
    list-style: none;
    margin: 0;
    padding: 0;
}
section[type="card"].pagination ul li {
    display: inline-block;
}
section[type="card"].pagination ul li a {
    color: #333;
    display: block;
    padding: 8px 10px;
    transition: background-color .2s ease-in-out;
    -moz-transition: background-color .2s ease-in-out;
    -ms-transition: background-color .2s ease-in-out;
    -webkit-transition: background-color .2s ease-in-out;
}
section[type="card"].pagination ul li a:hover {
    background-color: #ccc;
    text-decoration: none;
}
section[type="card"].pagination ul li.current a {
    background-color: #eee;
}
section[type="card"].pagination ul li.current a:hover {
    background-color: #ccc;
}
section[type="card"] section[type="card_corner-extension"] {
    position: absolute;
    transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
}
section[type="card"] section[type="card_corner-extension"] button {
    border-radius: 0px;
}
section[type="card"] section[type="card_corner-extension"] button:first-child {
    border-radius: 2px 0px 0px 0px;
}
section[type="card"] section[type="card_corner-extension"] button:last-child {
    border-radius: 0px 2px 0px 0px;
}
section[type="card"] section[type="card_corner-extension"] button:only-child {
    border-radius: 2px 2px 0px 0px;
}
section[type="card"] section[type="card_corner-extension"] button:not(:first-child) {
    margin-left: -4px;
}
section[type="card"] section[type="card_corner-extension"].left {
    left: -1px;
}
section[type="card"] section[type="card_corner-extension"].right {
    right: -1px;
}
section[type="card"] section[type="card_corner-extension"] .alert {
    border-bottom: 1px solid #ccc;
    border-radius: 2px 2px 0 0;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    box-shadow: none;
    margin: 0;
    padding: 15px;
}
section[type="card"] section[type="card_corner-extension"] button.default {
    border: 1px solid #ccc;
    padding: 7px 24px;
}